body {
  overflow-x: hidden;
  background-image: url(../images/globe_bw_vignette_3d.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.btn {
  background-color: rgba(240,38,41,0.9);
  border-color: rgba(240,38,41,0.9);
  color: white;
  text-transform: uppercase;
  position: absolute;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0.5);
}

.btn-primary:focus {
  background-color: rgba(0,0,0,0.5) !important;
  border-color: rgba(0,0,0,0.5) !important;
  outline: none !important;
  box-shadow: none !important;
}

.form {
  color: white;
  text-transform: uppercase;
  font-size: 5;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.2) !important;
  width: 330px;
}

.offset-md-7 {
  padding-top: 60px;
  padding-left: 0px;
}

.top-margin-lg {
  margin-top: 100px;
}

.top-margin-md {
  margin-top: 50px;
}

.bottom-margin-sm {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#buttonsDiv {
position: absolute;
top: 85px;
right: 30px;
padding: 12px;
background-color: rgba(200, 200, 200, 0.5);
border: 1px solid black;
}

#indicatorSpan {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: rgba(100, 100, 100, 0.8);
  border: 2px solid #ccc;
}

#editArea {
  background-color: white;
}

#infoDiv{
  position: absolute;
  top: 70px;
  left: 15px;
}

#infoDiv input {
  border: none;
  box-shadow:  rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

#sketchPanel {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.esri-button {
  margin: 2px;
}

.esri-zoom {
  position: fixed;
  top: 110px;
}

.esri-navigation-toggle {
  position: fixed;
  top: 180px;
}

.esri-compass {
  position: fixed;
  top: 250px;
}

.esri-sketch {
  position: fixed;
  top: 80px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(46,47,48);
  font-size: 15px;
  padding: 20px;
}

 #footer_contact {
   text-decoration: none;
   text-align: right;
   color: white;
 }

 footer a, p {
   text-decoration: none;
   color: #949495;
   font-size: 13px;
   margin-bottom: 0;
 }

 footer a:hover {
   text-decoration: none;
   color: white;
 }
