{% extends 'base.html' %}

{% block metadata %}
  <ul>
    {% for key, item in metadata %}
      <meta name="{{key}}" content="{{ item }}" />
    {% endfor %}
  </ul>
{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- ArcGIS API CSS -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- ArcGIS API JS -->
  <script src="https://js.arcgis.com/4.10/"></script>
  <script>
    // function getUrlParameter(name) {
    //     name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    //     var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    //     var results = regex.exec(location.search);
    //     return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    //   };
    //
    //   console.log(getUrlParameter('id'));

    var id = "{{ id }}"
    console.log(id);


    require([
      "esri/layers/FeatureLayer",
      "esri/Map",
      "esri/views/SceneView"
    ], function(FeatureLayer, Map, SceneView) {

      // Code to take in hosted feature layer from form
      var layer = new FeatureLayer({
        portalItem: {
          id: id
        }
      });

      layer
        .when(function() {
          return layer.queryExtent();
        })

        .then(function(response) {
          view.goTo(response.extent);
        });

      // Code to create the map and view will go here
      var map = new Map({
        basemap: "dark-gray",
        ground: "world-elevation",
        layers: [layer]
      });
      var view = new SceneView({
        container: "viewDiv", // Reference to the DOM node that will contain the view
        map: map, // References the map object created above
        scale: 25000, // Sets the initial scale to 1:25,000
        center: [-71.06, 42.36], // Sets the center point of view with lon/lat
      });
    });
  </script>
{% endblock %}


{% block app_content %}
  <div id="viewDiv"></div>
{% endblock %}
