{% extends 'base.html' %}

{% block metadata %}
  <ul>
    {% for key, item in metadata %}
      <meta name="{{key}}" content="{{ item }}" />
    {% endfor %}
  </ul>
{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- ArcGIS API CSS -->
  <link rel="stylesheet" href="https://js.arcgis.com/4.11/esri/css/main.css">
  <style>
    body {
      background-image: none;
    }
  </style>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- ArcGIS API JS -->
  <script src="https://js.arcgis.com/4.11/"></script>
  <script>
    var id = "{{ id }}"

    require([
      "esri/layers/FeatureLayer",
      "esri/Map",
      "esri/views/MapView",
      "esri/views/SceneView",
      "esri/layers/GraphicsLayer",
      "esri/widgets/Sketch/SketchViewModel",
      "esri/symbols/WebStyleSymbol",
      "esri/PopupTemplate"
    ], function(FeatureLayer, Map, MapView, SceneView, GraphicsLayer, SketchViewModel, WebStyleSymbol, PopupTemplate) {

      var switchButton = document.getElementById("switch-btn");

      var appConfig = {
        mapView: null,
        sceneView: null,
        activeView: null,
        container: "viewDiv"  // use same container for views
      };

      var popupTemplate = new PopupTemplate({
        title: "<b>Building ID: {BuildingID}</b>",
        content:
        "Status: {Status}<br>Town: {Town}<br> Height (ft): {BLDGHEIGHT}<br>Footprint (sqft): {SHAPE_Area}"
      });


      var renderer_2d = {
        type: "simple",  // autocasts as new SimpleRenderer()
        symbol: {
          type: "simple-fill",  // autocasts as new SimpleFillSymbol()
          color: "#A7C636",
          style: "solid",
          outline: {  // autocasts as new SimpleLineSymbol()
            color: "#4d5b18",
            width: 0.5
          }
        }
      };

      // Code to take in hosted feature layer from form as 3d
      var layer_2d = new FeatureLayer({
        portalItem: {
          id: id
        },
        renderer: renderer_2d,
        definitionExpression: "BLDGHEIGHT > 0", // show only buildings with height
        popupTemplate: popupTemplate,
        elevationInfo: {
          mode:"on-the-ground"
        }
      });

      var renderer_3d = {
        type: "unique-value", // autocasts as new UniqueValueRenderer()
        defaultSymbol: {
          type: "polygon-3d", // autocasts as new PolygonSymbol3D()
          symbolLayers: [{
            type: "extrude", // autocasts as new ExtrudeSymbol3DLayer()
            material: {
              color: "#A7C636"
            },
            edges: {
              type: "solid",
              color: "#4d5b18",
              size: 1.5
            }
          }]
        },
        visualVariables: [{
          type: "size",
          field: "BLDGHEIGHT",
          valueUnit: "feet" // Converts and extrudes all data values in feet
        }]
      };

      // Code to take in hosted feature layer from form as 3d
      var layer_3d = new FeatureLayer({
        portalItem: {
          id: id
        },
        renderer: renderer_3d,
        definitionExpression: "BLDGHEIGHT > 0", // show only buildings with height
        popupTemplate: popupTemplate,
        elevationInfo: {
          mode:"on-the-ground"
        }
      });

      layer_2d
        .when(function() {
          return layer_2d.queryExtent();
        })

        .then(function(response) {
          mapview.goTo(response.extent);
        });



      // the layer where the graphics are sketched
      var gLayer = new GraphicsLayer();

      // Code to create the map and view will go here
      var map = new Map({
        basemap: "dark-gray",
        ground: "world-elevation",
        layers: [gLayer]
      });

      map.add(layer_2d);
      map.add(layer_3d);


      var mapview = new MapView({
        container: "viewDiv",
        map: map,
        scale: 25000, // Sets the initial scale to 1:25,000
        center: [-71.06, 42.36], // Sets the center point of view with lon/lat
      });

      var sceneview = new SceneView({
        container: "viewDiv", // Reference to the DOM node that will contain the view
        map: map, // References the map object created above
        // scale: 25000, // Sets the initial scale to 1:25,000
        // center: [-71.06, 42.36], // Sets the center point of view with lon/lat
      });




      // create 2D view and and set active
      appConfig.mapView = mapview;
      appConfig.mapView.map = map;
      appConfig.activeView = appConfig.mapView;

      // create 3D view, won't initialize until container is set
      sceneview.container = null;
      appConfig.sceneView = sceneview;

      // switch the view between 2D and 3D each time the button is clicked
      switchButton.addEventListener("click", function(){
        switchView();
      });

      // Switches the view from 2D to 3D and vice versa
      function switchView(){
        var is3D = appConfig.activeView.type === "3d";
        var activeViewpoint = appConfig.activeView.viewpoint.clone();

        // remove the reference to the container for the previous view
        appConfig.activeView.container = null;

        if (is3D){
          // if the input view is a SceneView, set the viewpoint on the mapView instance. Set the container on the mapView and flag it as the active view
          appConfig.mapView.viewpoint = activeViewpoint;
          appConfig.mapView.container = appConfig.container;
          appConfig.activeView = appConfig.mapView;
          switchButton.value = "3D";
        } else {
          appConfig.sceneView.viewpoint = activeViewpoint;
          appConfig.sceneView.container = appConfig.container;
          appConfig.activeView = appConfig.sceneView;
          switchButton.value = "2D";
        }
      }







      const blue = [82, 82, 122, 0.9];
      const white = [255, 255, 255, 0.8];

      // polygon symbol used for sketching the extruded building footprints
      const extrudedPolygon = {
        type: "polygon-3d",
        symbolLayers: [
          {
            type: "extrude",
            size: 10, // extrude by 10 meters
            material: {
              color: white
            },
            edges: {
              type: "solid",
              size: "3px",
              color: blue
            }
          }
        ]
      };

      // define the SketchViewModel and pass in the symbols for polygon geometry type
      const sketchVM = new SketchViewModel({
        layer: gLayer,
        view: sceneview,
        polygonSymbol: extrudedPolygon
      });

      // add an event listener for the Delete key to delete the graphics that are currently being updated
      view.on("key-up", function(evt) {
        if (evt.key === "Delete") {
          gLayer.removeMany(sketchVM.updateGraphics);
          sketchVM.reset();
        }
      });

      // after drawing the geometry, enter the update mode to update the geometry and then deactivate the buttons
      sketchVM.on("create", function(event) {
        if (event.state === "complete") {
          sketchVM.update(event.graphic);
          deactivateButtons();
        }
      });

      const drawButtons = Array.prototype.slice.call(
        document.getElementsByClassName("esri-button")
      );

      // set event listeners to activate sketching graphics
      drawButtons.forEach(function(btn) {
        btn.addEventListener("click", function(event) {
          deactivateButtons();
          event.target.classList.add("esri-button--secondary");
          // to activate sketching, the create method is called passing in the geometry type from the data-type attribute of the html element
          sketchVM.create(event.target.getAttribute("data-type"));
        });
      });

      function deactivateButtons() {
        drawButtons.forEach(function(element) {
          element.classList.remove("esri-button--secondary");
        });
      }

      view.ui.add("sketchPanel", "top-right");
    });

  </script>
{% endblock %}


{% block app_content %}
  <div id="viewDiv"></div>

  <div id="infoDiv">
    <input class="esri-component esri-widget--button esri-widget esri-interactive"
      type="button" id="switch-btn" value="3D">
  </div>

  <div id="sketchPanel" class="esri-widget">
    <button id="extrudedPolygon" data-type="polygon" class="esri-button">
      Draw a building
    </button>
  </div>
{% endblock %}
